.balance_wrapper {
  width: 100%;
  height: auto;

  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 8px;

    p {
      font-size: 18px;
      font-weight: 500;
    }
  }

  .dropdown_title {
    display: flex;
    align-items: center;
    background-color: #f7f7f7;
    padding: 4px 8px;
    border-radius: 8px;
    font-size: 14px;
    cursor: pointer;
  }

  .content {
    display: flex;
    flex-direction: row;
    gap: 8px;

    .total_balance {
      display: flex;
      flex-direction: column;
      gap: 4px;

      .amount {
        font-size: 24px;
        padding-left: 8px;
      }

      .description {
        display: flex;
        align-items: center;
        gap: 4px;
        border-bottom: 2px solid #f2f2f2;
        width: max-content;

        .text {
          font-size: 12px;
        }
      }

      .growth {
        display: flex;
        gap: 2px;
        align-items: center;
        margin-bottom: 8px;
      }

      .notes {
        font-size: 12px;
        color: #cecdd2;
      }
    }

    .chart_wrapper {

    }
  }
}