.go_premium_wrapper {
  .go_premium {
    .title {
      text-align: center;
      font-weight: 500; 
    }

    .question {
      font-size: 18px;
      font-weight: 500;
    }

    .description {
      color: #a5a8b4;
      font-size: 14px;
      margin: 6px 0 12px;
    }
  }
}